<mat-toolbar color="primary" class="expanded-toolbar">
      <span>
      <button mat-button routerLink="/home" *ngIf="!router.url.includes('home')"><mat-icon>home</mat-icon></button>
    </span>

  <!--  <span fxLayoutAlign="center center">-->
  <!--&lt;!&ndash;      Logo Comes here&ndash;&gt;-->
  <!--    </span>-->
  <label style="font-size:30px">{{title}}</label>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/welcome" *ngIf="userObj && !router.url.includes('welcome')">
      <mat-icon>device_hub</mat-icon>
      Apps
    </button>
    <button mat-button routerLink="#" *ngIf="userObj">
      <mat-icon>ballot</mat-icon>
      Customer Bulletins
    </button>
    <button mat-button routerLink="#" *ngIf="userObj">
      <mat-icon>contact_support</mat-icon>
      Support
    </button>
    <button mat-button routerLink="#" *ngIf="userObj" [matMenuTriggerFor]="profile">Profile</button>
    <mat-menu #profile="matMenu">
      <button mat-menu-item>
        <mat-icon>account_box</mat-icon>
        <span>Account</span>
      </button>
      <button mat-menu-item>
        <mat-icon>email</mat-icon>
        <span>Contact</span></button>
      <button mat-menu-item>
        <mat-icon>engineering</mat-icon>
        <span>Preferences</span></button>
    </mat-menu>
    <button mat-button routerLink="/login" *ngIf="!userObj && !router.url.includes('login')">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>

    <button mat-button *ngIf="userObj" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/welcome" *ngIf="userObj && !router.url.includes('welcome')">
    <mat-icon>device_hub</mat-icon>
    Apps
  </button>
  <button mat-menu-item routerLink="#" *ngIf="userObj">
    <mat-icon>ballot</mat-icon>
    Customer Bulletins
  </button>
  <button mat-menu-item routerLink="#" *ngIf="userObj">
    <mat-icon>contact_support</mat-icon>
    Support
  </button>
  <button mat-menu-item routerLink="#" *ngIf="userObj" [matMenuTriggerFor]="profile">
    <mat-icon>account_circle</mat-icon>
    Profile
  </button>
  <button mat-menu-item routerLink="/login" *ngIf="!userObj && !router.url.includes('login')">
    <mat-icon>power_settings_new</mat-icon>
    Login
  </button>
  <button mat-menu-item *ngIf="userObj" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</mat-menu>
<router-outlet></router-outlet>
