<div ng-controller="AppCtrl" ng-cloak="" layout-gt-sm="row" ng-app="MyApp" *ngIf="userObj && filterdApps">
  <div style="margin-left: 1%;"><h4>Welcome {{this.userObj[0].firstName + ' ' + this.userObj[0].lastName}}
    [Role: {{ this.userObj[0].roles.toString()}}]!</h4></div>
  <mat-card class="example-card" *ngFor="let roleAndApp of filterdApps[0]">
    <mat-card-header>
      <img mat-card-avatar src="{{roleAndApp.iconPath}}" alt="...">
      <mat-card-title mat-button>{{roleAndApp.appName}}</mat-card-title>
    </mat-card-header>
<!--    <mat-card-content style="margin-top: 15px;">-->
<!--      <p>-->
<!--        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore-->
<!--        magna aliqua.-->
<!--      </p>-->
<!--    </mat-card-content>-->
  </mat-card>
</div>
