.example-card {
  /*max-width: 180px;*/
  /*max-height: 160px;*/
  /*min-width: 180px;*/
  /*min-height: 160px;*/
  /*float: left;*/
  /*margin: 1%;*/
  max-width: 200px;
  min-width: 200px;
  min-height: 60px;
  max-height: 60px;
  float: left;
  margin: 1%;
}

